.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: white;
}

.auth-form-container h1 {
  color: rgb(15, 204, 46);
  font-size: 50px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.auth-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 25vh;
  width: 25vw;
  /* border: 1px solid blue; */
  align-items: center;
}

.auth-form-container .form-group label,
input {
  width: 100%;
  text-align: left;
  height: 20px;
  padding: none;
  margin: none;
  box-sizing: border-box;
}
.auth-form-container .form-group input {
  height: 30px;
}
.auth-form-container .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 55px;
  /* border: 1px solid purple; */
}

.auth-form-container .form-login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form-container .form-group .login-btn {
  width: 100%;
  height: 35px;
  background: rgb(15, 204, 46);
  padding: none;
  margin: none;
  box-sizing: border-box;
}

.auth-form-container .form-register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form-container .form-group .register-btn {
  width: 100%;
  height: 35px;
  background: rgb(15, 204, 46);
  padding: none;
  margin: none;
  box-sizing: border-box;
}

.auth-form-container .form-group .login-btn:hover {
  cursor: pointer;
}

.auth-form-container .form-group .register-btn:hover {
  cursor: pointer;
}

.register-now-btn:hover {
  cursor: pointer;
}

.register-name, .register-username, .register-password {
  margin-bottom: 10px;
}

.form-register-btn {
  margin-bottom: 30px;
}